{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="heading-contact">
    <div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-offset-2">
            
            <div class="section-heading">
            <div class="wow bounceInDown" data-wow-delay="0.4s">
            <h2 style="color: blue; text-align: center; margin-top: 20px;">SERVICE BOX</h2>
            </div>
            </div>
            
        </div>
    </div>
    </div>
</div>
<section class="services-area section-gap">
    <div class="container">
    <div class="row d-flex justify-content-center">
    <div class="menu-content  col-lg-7">
    <div class="title text-center">
    <h1 class="mb-10" style="text-align: center;">My Offered Services</h1>
    <p>At about this time of year, some months after New Year’s resolutions have been made and kept, or made and neglected.</p>
    </div>
    </div>
    </div>
    <div class="row">
    <div class="col-lg-4 col-md-6">
    <div class="single-services">
    <span class="lnr lnr-pie-chart" style="font-size: 40px; color: dodgerblue;"></span>
    <a href="#" style="color: dodgerblue;"><h4>Web Development</h4></a>
    <p>
    Do you need a website for your business of for your personal use? You have just reached the right place.
    I do develop fully functional and exceptionally good quality websites at reasonable prices. 
    </p>
    </div>
    </div>
    <div class="col-lg-4 col-md-6">
    <div class="single-services">
    <span class="lnr lnr-laptop-phone" style="font-size: 40px; color: dodgerblue;"></span>
    <a href="#" style="color: dodgerblue;"><h4>Software and Applications Development</h4></a>
    <p>
    I also offer development of software and applications services. I am able to build for you your dream software and 
    applications!! Just contact me and we will make your dream a reality.
    </p>
    </div>
    </div>
    <div class="col-lg-4 col-md-6">
    <div class="single-services">
    <span class="lnr lnr-camera" style="font-size: 40px; color: dodgerblue;"></span>
    <a href="#" style="color: dodgerblue;"><h4>Cabling And Networking</h4></a>
    <p>
    Do you have computers that you want to connect and form a network? Do you want cabling services, wifi connections, 
    connecting local devices to each other? You have just landed on the right spot.
    </p>
    </div>
    </div>
    <div class="col-lg-4 col-md-6">
    <div class="single-services">
    <span class="lnr lnr-picture" style="font-size: 40px; color: dodgerblue;"></span>
    <a href="#" style="color: dodgerblue;"><h4>Data and Internet</h4></a>
    <p>
    Want to buy cheap data? Do you want to surf the web at cheaper prices. Am here to provide you with cheap and fast 
    internet!
    </p>
    </div>
    </div>
    <div class="col-lg-4 col-md-6">
    <div class="single-services">
    <span class="lnr lnr-tablet" style="font-size: 40px; color: dodgerblue;"></span>
    <a href="#" style="color: dodgerblue;"><h4>Apps Interface</h4></a>
    <p>
    Do you want to come up with an application, website? We offer you the service of designing the user interface 
    of whatever idea you have.
    </p>
    </div>
    </div>
    <div class="col-lg-4 col-md-6">
    <div class="single-services">
    <span class="lnr lnr-rocket" style="font-size: 40px; color: dodgerblue;"></span>
    <a href="#" style="color: dodgerblue;"><h4>Graphic Design</h4></a>
    <p>
    In need of a business card, logo, business advert, banners, posters? I am here to design for you 
    and make you your dream designs.
    </p>
    </div>
    </div>
    </div>
    </div>
</section>

    


{% endblock %}